<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fas fa-shipping-fast logo-icon">
                <strong class="title-logo">HieuNguyenStore</strong>
            </i>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Bạn muốn mua gì?">
                <span class="fas fa-search search-icon"></span>
            </div>
        </div>
        <button class="byn btn-primary btn-cart">
            <i class="fas fa-cart-plus cart-icon"></i>
            <div class="badge bg-danger">5</div>
        </button>
    </div>
</header>